:root {
    /* change the values below to your colors from your palette */
    --primary-color: #d5bdaf ;
    --secondary-color: #e3d5ca ;
    --accent1-color: #f5ebe0;
    --accent2-color: #d6ccc2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "w3-cursive";
    --paragraph-font: Arial, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #d5bdaf;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #d5bdaf; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #d5bdaf;
    --nav-link-color: #e3d5ca;
    --nav-background-color: #f5ebe0;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #f5ebe0;
}
#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: whitesmoke;
}
header {
    padding: 1em;
    text-align: center;
    color: #d6ccc2;
}
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #d5bdaf;
}
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}
  nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
.home-title {
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h3, #hero-msg h4 {
    text-align: center;
    padding-top: 10%;
    background-color: whitesmoke;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
nav a {
    text-align: center;
    color: #d5bdaf;
    text-decoration: none;
    padding: 35px;
}
footer {
    background-color: #f5ebe0;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: var(--paragraph-color-on-white);
    text-decoration: none;
}
footer a:hover {
    color: var(--paragraph-color-on-white);
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 100px;
    float: left;
}
.selfie-card {
    width: 100px;
    margin-top: 200px;
    margin-left: -10%;
}
.family-card {
    width: 100px;
    margin-top: -777px;
    margin-left: 750px;
}